<?xml version="1.0"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.vivenciasoftware.TrainingPlanner" android:installLocation="auto" android:versionCode="1" android:versionName="1.0">
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.GLOBAL_SEARCH"/>
	<uses-permission android:name="android.permission.READ_SOCIAL_STREAM"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
	<uses-permission android:name="android.permission.READ_ASSISTANT_APP_SEARCH_DATA"/>
	<uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
	<uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>

	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

	<supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:smallScreens="true"/>
	<!--
	<uses-feature android:glEsVersion="0x00020000" android:required="true"/>
	-->
	<application android:name="org.qtproject.qt.android.bindings.QtApplication" android:hardwareAccelerated="true" android:label="TrainingPlanner" android:requestLegacyExternalStorage="true" android:allowNativeHeapPointerTagging="false" android:allowBackup="true" android:fullBackupOnly="false" android:icon="@drawable/icon">
		<!--<service android:name=".TPService" android:exported="true">
			<meta-data android:name="android.app.background_running" android:value="true"/>
			<meta-data android:name="android.app.arguments" android:value="-service"/>
		</service> -->
		<activity android:name=".TPActivity" android:configChanges="orientation|uiMode|screenLayout|screenSize|smallestScreenSize|layoutDirection|locale|fontScale|keyboard|keyboardHidden|navigation|mcc|mnc|density" android:label="TrainingPlanner" android:launchMode="singleInstance" android:screenOrientation="portrait" android:exported="true" android:theme="@style/splashScreenTheme">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
			<intent-filter>
				<action android:name=".TPActivity"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.SEND"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="text/plain"/>
			</intent-filter>


			-<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="text/plain"/>
				<data android:scheme="content"/>
				<data android:mimeType="text/plain"/>
				<data android:host="*"/>
			</intent-filter>
			-<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="text/plain"/>
				<data android:scheme="file"/>
				<data android:mimeType="text/plain"/>
				<data android:host="*"/>
			</intent-filter>
			<!--
			<intent-filter  android:label="TrainingPlanner">
				<category android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>
				<category android:name="android.intent.category.OPENABLE"/>
				<data android:scheme="content"/>
				<data android:mimeType="text/plain"/>
				<data android:pathPattern=".*\\.txt"/>
				<data android:host="*"/>
			</intent-filter>

			<intent-filter  android:label="TrainingPlanner">
				<category android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>
				<category android:name="android.intent.category.OPENABLE"/>
				<data android:scheme="file"/>
				<data android:pathPattern=".*\\.txt"/>
				<data android:mimeType="text/plain"/>
				<data android:host="*"/>
			</intent-filter>
			-->
			<meta-data android:name="android.app.lib_name" android:value="-- %%INSERT_APP_LIB_NAME%% --"/>
			<!-- <meta-data android:name="android.app.lib_name" android:value="trainingplanner"/>
			<meta-data android:name="android.app.arguments" android:value=""/>-->
			<meta-data android:name="android.app.extract_android_style" android:value="default"/>
			<meta-data android:name="android.app.background_running" android:value="true"/>
			<meta-data android:name="android.app.use_local_qt_libs" android:value="-- %%USE_LOCAL_QT_LIBS%% --"/>
			<meta-data android:name="android.app.libs_prefix" android:value="/data/local/tmp/qt/"/>
			<meta-data android:name="android.app.load_local_libs" android:value="-- %%INSERT_LOCAL_LIBS%% --"/>
			<meta-data android:name="android.app.load_local_jars" android:value="-- %%INSERT_LOCAL_JARS%% --"/>
			<meta-data android:name="android.app.static_init_classes" android:value="-- %%INSERT_INIT_CLASSES%% --"/>
		</activity>

		<!-- If this receiver listens for broadcasts sent from the system or from other apps, even other apps that you own, set android:exported to "true". -->
		<receiver android:name=".TPBroadcastReceiver" android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"/>
				<!-- <action android:name="org.vivenciasoftware.TrainingPlanner.TP_BROADCAST"/> -->
			</intent-filter>
		</receiver>

		<!-- For adding service(s) please check: https://wiki.qt.io/AndroidServices -->
		<!-- Register the File Provider for document sharing -->
		<provider android:name="androidx.core.content.FileProvider" android:authorities="org.vivenciasoftware.TrainingPlanner.fileprovider" android:grantUriPermissions="true" android:exported="false">
			<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/qtprovider_paths"/>
		</provider>
	</application>
<!-- %%INSERT_PERMISSIONS -->
	<!-- %%INSERT_FEATURES -->
</manifest>
